.link {
    @apply relative inline-flex pr-[25px] items-center text-xs md:text-base text-orange-400;

    svg {
        @apply translate-y-[2px] stroke-orange-400 max-h-[21px];
    }
    @media (min-width: 1280px) {
        &:hover {
            @apply text-blue-400;
            svg {
                @apply stroke-blue-400 transition-transform duration-700 translate-x-2;
            }
        }
    }
}

.linkContainer {
    @apply pb-4 sm:pb-0;
}

.content {
    @apply max-w-[100%] p-2 sm:max-w-[45%] xl:max-w-[30%] mr-2 flex;
}

.imgContainer {
    @apply flex max-w-[50%] max-h-[150px]  sm:max-h-[400px] sm:pb-4;
    img {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

.textContainer {
    @apply  p-2 max-w-[50%] mx-auto;
}

.h2 {
    @apply text-sm xl:text-xl pb-2;
}
