.link {
    @apply inline-flex  text-orange-400;

    svg {
        @apply translate-y-[2px] stroke-orange-400 max-h-[21px];
    }
    @media (min-width: 1280px) {
        &:hover {
            @apply text-blue-400;
            svg {
                @apply stroke-blue-400 transition-transform duration-700 translate-x-2;
            }
        }
    }
}

.linkContainer {
    @apply pb-4 sm:pb-0;
}

.content {
    @apply flex flex-col justify-between;
}

.imgContainer {
    img {
        @apply w-full aspect-video;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

.textContainer {
    @apply p-2;
}

.h2 {
    @apply text-sm xl:text-xl pb-2;
}
