.main {
    @apply pt-20 flex-1 bg-gray-300 h-full;
}

.arrow {
    position: fixed;
    z-index: 20;
    background-color: rgb(249 115 22 / var(--tw-bg-opacity)) !important;
    border-radius: 50% !important;
    height: 35px !important;
    width: 40px !important;
    right: 10px !important;
    bottom: 10px !important;

    &:hover {
        @media (min-width: 1281px) {
            background-color: rgb(96 165 250 / var(--tw-bg-opacity)) !important;
        }
    }
    svg {
        @apply fill-white  absolute xl:hover:fill-orange-400 h-[15px];
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}
