.wrapper {
    @apply flex flex-col items-center justify-between sm:min-h-[90vh]  text-[#fafafa];
    transform-style: preserve-3d;

    a {
        @apply uppercase py-4 px-16 rounded-3xl text-sm xl:hover:bg-orange-400;
        background: var(--button);
        color: var(--button-color);
    }

    h1 {
        @apply hidden sm:block m-0 mb-4 text-transparent tracking-[1rem] font-sans;
        -webkit-animation: swing var(--speed) infinite alternate ease-in-out;
        animation: swing var(--speed) infinite alternate ease-in-out;
        font-size: clamp(5rem, 40vmin, 20rem);
        transform: translate3d(0, 0, 0vmin);
        --x: calc(50% + (var(--swing-x) * 0.1) * 10%);
        background: radial-gradient(var(--lit-header), var(--header) 45%)
            var(--x) 100%/200% 200%;
        -webkit-background-clip: text;
    }
    h1:after {
        @apply content-["404"] hidden sm:block absolute left-0 top-24;
        -webkit-animation: swing var(--speed) infinite alternate ease-in-out;
        animation: swing var(--speed) infinite alternate ease-in-out;
        color: var(--shadow);
        filter: blur(1.5vmin);
        transform: scale(0.75) translate3d(0, 12%, -10vmin)
            translate(
                calc((var(--swing-x, 0) * 0.05) * 1%),
                calc((var(--swing-y) * 0.05) * 1%)
            );
    }

    h2 {
        @apply mb-4 text-3xl sm:text-xl pt-2;
    }
}

.cloak {
    @apply h-full  w-full;
    animation: swing var(--speed) infinite alternate-reverse ease-in-out;
    transform-origin: 50% 30%;
    transform: rotate(calc(var(--swing-x) * -0.25deg));
    background: radial-gradient(40% 40% at 50% 42%, transparent, #000 35%);
}
.cloak__wrapper {
    @apply fixed hidden sm:block  overflow-hidden  sm:h-[90vh] top-0 left-0 right-0;
}
.cloak__container {
    @apply absolute  translate-x-[-50%] translate-y-[-50%] top-[50%] left-[50%] h-[250vmax] w-[250vmax];
}
.info {
    @apply mb-[30px] text-center;
    transform-style: preserve-3d;
}

@-webkit-keyframes swing {
    0% {
        --swing-x: -150;
        --swing-y: -150;
    }
    50% {
        --swing-y: 0;
    }
    100% {
        --swing-y: -150;
        --swing-x: 150;
    }
}
@keyframes swing {
    0% {
        --swing-x: -150;
        --swing-y: -150;
    }
    50% {
        --swing-y: 0;
    }
    100% {
        --swing-y: -150;
        --swing-x: 150;
    }
}
