@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/effect-coverflow";
@import "swiper.scss";

html,
body {
    @apply h-full;
}

@layer base {
    html {
        font-family: "Roboto", sans-serif;
    }
}

#__next {
    @apply flex flex-col min-h-full;
}

:root {
    --button: #b3b3b3;
    --button-color: #0a0a0a;
    --shadow: #000;
    --bg: #737373;
    --header: #7a7a7a;
    --color: #fafafa;
    --lit-header: #e6e6e6;
    --speed: 2s;
}

@property --swing-x {
    initial-value: 0;
    inherits: false;
    syntax: "<integer>";
}
@property --swing-y {
    initial-value: 0;
    inherits: false;
    syntax: "<integer>";
}

textarea {
    resize: none;
}

body.lock {
    overflow: hidden;
}


.animation-typing span {
    animation: typing 2s ease-in-out infinite;
}

.animation-typing span:nth-child(1) {
    animation-delay: 0.4s;
}
.animation-typing span:nth-child(2) {
    animation-delay: 0.8s;
}
.animation-typing span:nth-child(3) {
    animation-delay: 1.2s;
}
.animation-typing span:nth-child(4) {
    animation-delay: 1.6s;
}

@keyframes typing {
    50% {
        opacity: 0;
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7a7676;
}