@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
@import "swiper/css/effect-coverflow";
@import "swiper.scss";

html,
body {
    @apply h-full;
}

@layer base {
    html {
        font-family: "Roboto", sans-serif;
    }
}

#__next {
    @apply flex flex-col min-h-full;
}

:root {
    --button: #b3b3b3;
    --button-color: #0a0a0a;
    --shadow: #000;
    --bg: #737373;
    --header: #7a7a7a;
    --color: #fafafa;
    --lit-header: #e6e6e6;
    --speed: 2s;
}

@property --swing-x {
    initial-value: 0;
    inherits: false;
    syntax: "<integer>";
}
@property --swing-y {
    initial-value: 0;
    inherits: false;
    syntax: "<integer>";
}

textarea {
    resize: none;
}

body.lock {
    overflow: hidden;
}
