.swiper-pagination {
    @apply bg-gray-700  rounded items-center flex py-1;
    left: 50% !important;
    width: initial !important;
    transform: translateX(-50%) !important;
}
.swiper-pagination-bullet {
    @apply text-sm;
    @media (min-width: 1281px) {
        @apply hover:text-orange-500  after:hover:bg-blue-500 hover:opacity-100;
    }
    width: 20px !important;
    height: 20px !important;
    &::after {
        @apply content-[""] w-full h-full left-0 bg-orange-500  absolute z-[-1] rounded hover:bg-blue-500;
    }
}

.swiper-button-prev,
.swiper-button-next {
    &::after {
        @apply bg-blue-500 py-1 px-2 rounded-xl text-white;
    }
    &:hover::after {
        @media (min-width: 1281px) {
            @apply bg-orange-500 text-blue-500 duration-500;
        }
    }
}

.swiper-button-next {
    &::after {
        content: ">" !important;
    }

    right: 10px !important;
}

.swiper-button-prev {
    &::after {
        content: "<" !important;
    }
    left: 10px !important;
}
